// page-players {}

.header-row {
    font-weight: 500;
    border-bottom: 2px solid #000;
}

.data-row {
    font-weight: 500;
    border-bottom: 1px solid #000;
}

.not-match {
    text-align: center;
    display: inline-block;
}